body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.header-container,
.footer-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

header {
    text-align: center;
    background-color: #251c58;
}

header h1 {
    margin: 0;
    color: #ccc;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #4d93c2
       
    }
    
    .section-container {
        background-color: #ffffff;
        padding: 20px;
        margin: 20px auto;
        max-width: 800px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: right;
    }
    
    .t{
       border: #251c58; 
        }
    
    
    .profile-picture img {
        width: 200px;
        position: relative;
        margin-right: 1px;
    }
    
    .hobbies table {
        width: 40%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    .hobbies th, .hobbies td {
        padding: 10px;
        border: 1px solid #ddd;
        
    }
    
    .hobbies th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    
    .hobbies tr:nth-child(even) {
        background-color: #ffffff;
                                
                                }
    
    .footer-content {
        background-color: #251c58;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding:30px
        
    
                    }
    
